*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
}


html{
    scroll-behavior: smooth;
}

header{
    width: 100vw;
    height:80px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

a{
    text-decoration: none;
    list-style: none;
    color: rgba(255, 255, 255, 0.742);
}

header.rolagem{
    background-color: #ffffff;
    padding: 20px 4%;;
}

.header-black {
    background-color: rgb(29, 29, 29);
  }
  
.flex{
    display: flex;
    font-size: 20pt;
    gap: 25px;
}

.banner{
    background-image: url('assets/instalacao.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content:center;
    transition: opacity 1.0s, visibility 0.5s ease-in-out;
}

.text-banner{
    color: rgba(255, 255, 255, 0.882);
    width: 90vw;
    height: 40vh;
    font-size: 15pt;
}

.text-banner h2{
    color: rgb(38, 138, 31);
}

.hidden{
  opacity: 0;
  visibility: hidden;
}

.container-gestoes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    transition: transform .5s ease;
}

.container-gestoes img{
    width: 500px;
    border-radius: 10px;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.container-gestoes img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.container-sobre{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.sobre-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

.card-sobre{
    margin: 5%;
    background-color: rgb(36, 36, 36);
    font-size: 20pt;
    color: white;
    padding: 55px;
    border-radius: 10px;
    height: 80%;
}

.card-sobre h1{
    margin: 5%;
}


.sobre-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

.sobre-right img{
    width: 770px;
    height: 770px;
    border-radius: 10px;
}

.container-projetos{
    display: flex;
    font-size: 16pt;
}

.projetos-left{
    display: flex;
    width: 50vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.projetos-left img{
    width: 300px;
    height: 300px;
}

.projetos-right{
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.projetos-right p{
    width: 60%;
}