*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 500vh;
    font-family: "Cutive Mono", monospace;
    font-weight: 400;
    font-style: normal;
}


html{
    scroll-behavior: smooth;
}

header{
    width: 100vw;
    height:80px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

header.rolagem{
    background-color: #fff;
    padding: 20px 4%;;
}

.flex{
    display: flex;
    font-size: 20pt;
    gap: 25px;
}

a{
    text-decoration: none;
    list-style: none;
    color: white;
}



.banner{
    background-color: black;
    width: 100vw;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content:center;
    transition: opacity 0.5s, visibility 0.5s ease-in-out;
}

.text-banner{
    color: white;
    width: 90vw;
    height: 40vh;
    font-size: 15pt;
}

.hidden{
  opacity: 0;
  visibility: hidden;
}